.main-title {
  padding: 80px 0 30px 0;
  margin: 0;
  font-family: Amatic SC;
  font-weight: normal;
  font-size: 36px;
  color: #0c0101;
  text-align: center;
}

.block-contacts {
  padding: 16px 0 0 16px;
}

.box-contact {
  padding-top: 20px;
}

.box-contact__img {
  width: 24px;
  height: 24px;
  margin: 0 20px 0 0;
  float: left;
}

.box-contact__text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  color: #0c0101;
}

.map {
  padding: 50px 0 115px 0;
  width: 100%;
}

.block-footer {
  width: 100%;
  height: 80px;
  background-color: black;
}

.block-footer__text {
  padding: 23px 54px 0 16px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  color: white;
}

.container {
  padding-top: 52px;
  padding-left: 17px;
  padding-right: 17px;
}

.section-sightseens {
  position: relative;
}

.sightseens {
  width: 100%;
  padding-bottom: 70px;
}

.sightseens__img {
  height: 100%;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.sightseens__name {
  font-family: Roboto;
  text-align: auto;
  font-size: 24px;
  line-height: 28px;
  color: #585858;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin: 0px;
  padding-top: 25px;
}

.sightseens__about {
  position: relative;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: left;
  margin: 0px;
  padding-top: 30px;
}

.section-tour {
  position: relative;
}

.tour {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.tour__img {
  height: 100%;
  width: 100%;
}

.tour__text {
  position: absolute;
  height: 180px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0)), color-stop(rgba(255, 255, 255, 0.67)), to(#eeeeee));
  background: linear-gradient(180deg, rgba(196, 196, 196, 0), rgba(255, 255, 255, 0.67), #eeeeee);
  bottom: 0;
  left: 0;
  font-family: Roboto;
  font-style: normal;
}

.tour__text-name {
  top: 15px;
  margin-left: 28px;
  font-weight: normal;
  text-align: auto;
  font-size: 18px;
  line-height: 21px;
}

.tour__text-about {
  margin: 20px 20px 0 20px;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.tour__text-price {
  top: 20px;
  margin-left: 28px;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  font-family: Roboto;
  font-style: normal;
}

.but-buy {
  position: absolute;
  padding: 5px 40px;
  background: transparent;
  color: #c3b182;
  border: 1px solid #c3b182;
  right: 25px;
  bottom: 20px;
}

.under-text {
  position: absolute;
  width: 92px;
  height: 16px;
  left: 159px;
  top: 3790px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #9F9F9F;
}

.section-welcome {
  background-image: url(../img/DSC00015.jpg);
  background-position: center,center;
  background-size: cover,cover;
  height: 100vh;
  text-align: center;
}

.floater {
  float: left;
  height: 50%;
  width: 100%;
  margin-bottom: -50px;
}

.content {
  height: 100%;
}

.content-title {
  margin: 0;
  font-family: Amatic SC;
  font-weight: normal;
  font-size: 96px;
  color: #fff;
}

.content-ltitle {
  margin: 0;
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0;
}

.content__button {
  background-color: transparent;
  border: none;
  padding: 0;
  padding-top: 200px;
}

.continer {
  padding: 0 130px 0  130px;
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.header__link {
  color: #fff;
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
}

.header__logo img {
  width: 48px;
  height: 43px;
  position: relative;
  z-index: 5;
}

.header__burger {
  display: none;
  position: relative;
  z-index: 5;
}

@media (max-width: 767px) {
  .continer {
    padding: 0 16px 0  16px;
    margin: 0 auto;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 24px;
    height: 16px;
  }
  .header__burger::before, .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 6px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 0 0;
    margin: 310px 0 0 0;
  }
  .header__list li {
    list-style: none;
    margin: 0 0 25px 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 7px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 6px;
  }
}

header.scroll {
  background-color: black;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

*, *::after, ::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.body, html {
  margin: 0;
  overflow: auto;
  min-width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}
/*# sourceMappingURL=styles.css.map */