.block-footer{
    padding-top: 25px;
    width: 100%;
    height: 80px;
    
    &__text{
        font-family: Roboto;
        font-weight: normal;
        font-size: 14px;
        color:white;
    
    }
    &__menu{
        display: none;    
    }
    &__title{
        margin: 0 0 30px 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
    }
    &__contact{
        display: none;
        padding: 0 35px;
    }
}
.footer{
    background-color: black;
    &__list{
        padding: 0 0;
        &-element{
            list-style: none;
            padding-bottom: 10px;
        }
    }
    &__link{
        text-decoration:none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
    }
}
@media(min-width:768px){
    .block-footer{
        display: flex;
        justify-content: space-between;
        height: 270px;
        &__menu{
            display: inline;
        }
        &__contact{
            display: inline;
        }
    }

}