.main-title{
    padding: 80px 0 0 0;
    margin:0;
    font-family: Amatic SC;
    font-weight: normal;
    font-size: 36px;
    color: rgb(12, 1, 1);
    text-align: center;
}

.block-contacts{
    
    &__text{
        padding:25px 0 0 0;
    }
}

.box-contact{
    padding-top: 20px;
    &__img{
        width: 24px;
        height: 24px;
        margin: 0 20px 0 0;
        float:left
    }
    &__text{
        font-family: Roboto;
        font-weight: normal;
        font-size: 14px;
        color: rgb(12, 1, 1);
 
    }
}
.map-block{
    width: 100%;
    padding: 50px 0 115px 0;
}
.map-desktop{
    padding-top:50px ;
    height:auto ;
    width:100% ;
    max-width: 800px;
    display: none;
}

@media(min-width:769px){
    .section-contacts{
        background-color: #E5E5E5;
    }
    .map-block{  
        display: none;
        max-width: 800px;
        padding-top: 30px;
        &__map{
            padding-top: 0;  
        }
    }
    .map-desktop{
        display: inline;
    }

    .block-contacts{
        display: flex;
        justify-content: space-between;
        padding-bottom:70px;
        &__text{
            padding:70px 0 0 0;
        }
    }
}