
.section-tour{
    position: relative;
}
.tour{
    position:relative;
    width: 100%;
    margin:30px 0 20px 0;
    &__img{
        height: 100%;
        width: 100%;
    }
    &__text{
        position:absolute;
        height: 180px;
        width: 100%;
        background: linear-gradient(180deg, rgba(196, 196, 196, 0),rgba(255, 255, 255, 0.67),rgba(238, 238, 238, 1));
        bottom: 0; 
        left: 0;
        font-family: Roboto;
        font-style: normal;
        &-name{
            margin: 15px 25px;
            font-weight: normal;
            text-align: auto;
            font-size: 18px;
            line-height: 21px;
        }
        &-about{
            margin: 25px 25px 0 20px;
            font-weight: 200;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
        }
        &-price{
            margin: 25px 25px 0 20px;
            font-weight: 200;
            font-size: 24px;
            line-height: 29px;
            font-family: Roboto;
            font-style: normal;

        }
    }
}
.but-buy{
    position:absolute;
    padding: 5px 40px;
    background: transparent;
    color: rgba(195, 177, 130, 1);
    border: 1px solid rgba(195, 177, 130, 1);
    right: 25px;
    bottom: 20px;
}
.more{
    display: flex;
    justify-content: center;
    margin:35px 0 0 0;
    &__btn{
        border: 0;
        background: transparent;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #9F9F9F;
    }
}
#show-more{
    display: none;
}