*{
    margin: 0;
    padding: 0;
}

.header{
    &__bg{
        background-image: url("/img/bg.jpg") center no-repeat;
    }
    &__top{
        align-items: center; 

        justify-content: space-between;
        display: flex;
        height: 80px;
        padding: 32px 23px;
        text-align: right;
    }
    &__logo{
        border:0;
        padding: 0;
        &-link{
            background:url("../img/logo.png") center no-repeat;
            margin-left:27px;     
            width: 48px;
            height: 43px;;
            
        }  
    &__menu{
        border:0;
        padding: 0;
        img{
            width: 24px;
            height: 16px;;
            margin-left:27px;
        }  
    }
    }
}


.container{
    margin:auto;
    max-width: 1040px;
    padding:0;
    position: relative;
    width: 100%;
}

