@import "_section_contacts.scss";
@import"_footer.scss";


*,*::after,::before{
    box-sizing: inherit;
}

.body, html{
    margin:0;
    overflow-x: hidden;
    height: 100%;
    box-sizing: border-box;
}

