@import "_section-sightseens";
@import"_tour";


*,*::after,::before{
    box-sizing: inherit;

}
    
.body, html{
    margin:0;
    overflow-x: hidden;
    min-width: 320px;//
    height:100%;
    box-sizing: border-box;
}